

<div class="side_bar">
 <p class="user-name">
 <%= link_to current_user.name, edit_user_path(current_user) %>
 <%# <a href="#">Tom</a>   edit_user(prefix表示)_path%>
 </p>
 <p class="create-chat">
 <a href="#" >チャットを作成する</a>
 </p>
 </div>


<div class="room">
  <div class="many-rooms">
   <div class="one-room">
   <a href="#">techroom1</a>
   </div>
  </div>
  <div class="many-rooms"> 
   <div class="one-room">
   <a href="#">techroom2</a>
   </div>
  </div>
</div>

